@model IEnumerable<Gabriel_Padilla_P1.Models.PRodriguez>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CampoString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampoInt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampoDecimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampoBool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampoFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CampoString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampoInt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampoDecimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampoBool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampoFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
